{% from 'common/common_macros.html' import static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% include 'common/common_head.html' %}
    <link rel="stylesheet" href="{{ static('front/css/front_sign_base.css') }}">
    <script src="{{ static('common/xtparam.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="outer-box">
        <div class="logo-box">
            <a href="/">
                <img src="{{ static('images/logo.png') }}" alt="">
            </a>
        </div>
        <h2 style="text-align: center;">{% block page_title %}{% endblock %}</h2>
        <div class="sign-group">
            <form action="" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                {% block sign_group %}{% endblock %}
            </form>
        </div>
    </div>
</body>
</html>