{% extends 'front/front_base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ static('front/css/front_postdetail.css') }}">
    <script src="{{ static('front/js/front_postdetail.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container_wrap">
        <div class="left-container">
            <div class="post-container">
                <div class="post-container-inner">
                    <div class="post-top">
                        <h2>{{ post.title }}</h2>
                        <p class="post-info">
                            <span>发表时间：{{ post.create_time }}</span>
                            <span>作者：{{ post.author.username }}</span>
                            <span>所属板块：{{ post.board.name|default('无板块') }}</span>
                            <span class="comment-count">评论数：{{ post.comments|length }}</span>
                            <span class="read-count">阅读数：{{ post.read_count|default(0) }}</span>
                        </p>
                    </div>
                    <div class="post-content">
                        {{ post.content|safe }}
                    </div>
                    <div class="star-group">
                        {% if front_user and front_user.id in star_author_ids %}
                            <button class="btn btn-default btn-xs" id="star-btn" data-post-id="{{ post.id }}" data-is-star="1" data-is-login="1">已赞</button>
                        {% else %}
                            <button class="btn btn-primary btn-xs" id="star-btn" data-post-id="{{ post.id }}" data-is-star="0" data-is-login="{% if front_user %}1{% else %}0{% endif %}">点赞</button>
                        {% endif %}

                        {% for star in post.stars %}
                            <a href="#">
                                <img src="{{ static('images/logo.png') }}" alt="">
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="comment-btn-group">
                    <a href="{{ url_for('post.add_comment',post_id=post.id) }}" class="btn btn-primary">发表评论</a>
                </div>
            </div>
            <div class="comment-list-group">
                <div class="comment-list-group-inner">
                    <div class="comment-title">
                        <p>评论列表</p>
                    </div>
                    <ul class="comment-list">
                        {% for comment in post.comments %}
                            <li>
                                <div class="comment-img">
                                    <a href="#"><img class="user-head" src="{{ static(filename='images/logo.png') }}" alt=""></a>
                                </div>
                                <div class="comment-content">
                                    <p class="author-info">
                                        <span>{{ comment.author.username }}</span>
                                        <span>{{ comment.create_time }}</span>
                                    </p>
                                    {% if comment.origin_comment %}
                                        <div class="origin-comment-group">
                                            <blockquote>
                                                {{ comment.origin_comment.author.username}} 发表于 {{ comment.origin_comment.create_time }}
                                                <p>{{ comment.origin_comment.content|safe }}</p>
                                            </blockquote>
                                        </div>
                                    {% endif %}
                                    <p class="comment-txt">{{ comment.content|safe }}</p>
                                    <div class="comment-btn">
                                        <a href="{{ url_for('post.add_comment',post_id=post.id,comment_id=comment.id) }}" class="reply-btn">回复</a>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-container">
            <div class="author-group">
                <div class="avatar-group">
                    <a href="{{ url_for('account.profile',user_id=post.author.id) }}"><img src="{{ url_for('static',filename='images/logo.png') }}" alt="" class="avatar-img"></a>
                </div>
                <p class="username">{{ post.author.username }}</p>
                <p class="txt">{{ post.author.points }}积分</p>
                <div class="btn-box">
                    <a href="{{ url_for('account.profile',user_id=post.author.id) }}" target="_blank" class="btn btn-warning">Ta的主页</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}